html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition-duration: 500ms;transition: 1s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    transition: 0.5s;
    
}